# Miscellaneous / OS
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
Desktop.ini
.atom/
.buildlog/
.history
.svn/

# IntelliJ / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Android
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
.gradle/

# iOS
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Environment
.env
.env.*
*.env
!.env.example
dart-defines.json
