# Miscellaneous / OS
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
Desktop.ini
.atom/
.buildlog/
.history
.svn/

# IntelliJ / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Environment
.env
.env.*
*.env
!.env.example
